{% extends 'base.html.twig' %}

{% block title %}Forecast index{% endblock %}

{% block body %}
    <h1>Forecast index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Pressure</th>
                <th>Humidity</th>
                <th>WindSpeed</th>
                <th>WindDirection</th>
                <th>Cloudiness</th>
                <th>Icon</th>
                <th>Precipilation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forecast in forecasts %}
            <tr>
                <td>{{ forecast.id }}</td>
                <td>{{ forecast.date ? forecast.date|date('Y-m-d') : '' }}</td>
                <td>{{ forecast.temperature }}&deg;C</td>
                <td>{{ forecast.pressure }} hPa</td>
                <td>{{ forecast.humidity }}%</td>
                <td>{{ forecast.windSpeed }}km/h</td>
                <td>{{ forecast.windDirection }}</td>
                <td>{{ forecast.cloudiness }}%</td>
                <td><i class="bi bi-{{ forecast.icon }}"></i></td>
                <td>{{ forecast.precipilation }}</td>
                <td>
                    {% if is_granted('ROLE_FORECAST_SHOW') %}
                        <a href="{{ path('app_forecast_show', {'id': forecast.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('ROLE_FORECAST_EDIT') %}
                        <a href="{{ path('app_forecast_edit', {'id': forecast.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_FORECAST_NEW') %}
        <a href="{{ path('app_forecast_new') }}">Create new</a>
    {% endif %}
{% endblock %}
